@import "open-props/style";
@import "open-props/normalize";
@import "open-props/buttons";
@import "open-props/gradients";

:root {
  --brand-bg-gradient: linear-gradient(
    to bottom,
    var(--purple-3),
    var(--violet-3),
    var(--indigo-3),
    var(--cyan-3)
  );
}

body {
  min-width: 375px;
}

h1 {
  line-height: 1;
}

.field-stack-columns {
  grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .field-stack-columns {
    grid-template-columns: 0.8fr 1fr;
  }
  .field-stack-columns label {
    justify-self: end;
  }
}

.gallery-columns {
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 600px) {
  .gallery-columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
